body {
  background-image: url('../Pictures/underwater_back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  height: 150px;
  width: 500px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(0, 8, 31);
}

#logo{
  height: 200px;
  width: 252px;
  float: left;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  background-color: 5px solid rgb(0, 178, 209);
}

#git {
  color: rgb(0, 8, 31);
  font-family: ''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  background: none;
  border: none;
  cursor: pointer;
}

.git:hover,
#git:hover {
  color: #80b7da;
}

.button {
  color: rgb(0, 8, 31);
  font-family: ''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
  font-style: normal;
  font-weight: bolder;
  font-size: 1.3vw;
  background: none;
  border: none;
  cursor: pointer;
}

.button:hover,
#home:hover {
  color: #80b7da;
}
