swagger: "2.0"
info:
  description: API Documentation for Contact Keeper
  version: 1.0.0
  title: Contact Keeper
  contact:
    email: loganbrown@ucf.edu
host: cop4331.tech
basePath: /LAMPAPI
schemes:
  - http
paths:
  /Login.php:
    post:
      tags:
        - Users
      summary: Logs in to Contact Keeper
      description: Logs in to Contact Keeper
      operationId: doLogin
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: loginItem
          description: Login
          required: true
          schema:
            $ref: "#/definitions/Login"
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthorized, Incorrect Credentials"
        "404":
          description: URL Not Found
  /Register.php:
    post:
      tags:
        - Users
      summary: Registers a user in Contact Keeper
      description: Registers a user in Contact Keeper
      operationId: doRegister
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: registerItem
          description: Register
          required: true
          schema:
            $ref: "#/definitions/Register"
      responses:
        "201":
          description: User created
        "400":
          description: Bad Request
        "409":
          description: User already exists
  /AddContact.php:
    post:
      tags:
        - Contacts
      summary: Creates a Contact for the provided User ID
      description: Creates a Contact for the provided User ID
      operationId: doAddContact
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: contactItem
          description: Contact
          required: true
          schema:
            $ref: "#/definitions/Contact"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: "Unauthorized, userId required"
        "404":
          description: URL Not Found
  /AddContact.php:
    put:
      tags:
        - Contacts
      summary: Updates a Contact for the provided User ID
      description: Updates a Contact for the provided User ID
      operationId: doUpdateContact
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: contactItem
          description: Contact
          required: true
          schema:
            $ref: "#/definitions/Contact"
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: "Unauthorized, userId required"
        "404":
          description: URL Not Found
definitions:
  Login:
    type: object
    required:
      - login
      - password
    properties:
      login:
        type: string
        example: fred
      password:
        type: string
        example: secret
  Register:
    allOf:
      - $ref: "#/definitions/Login"
      - type: object
        required:
          - firstName
          - lastName
        properties:
          firstName:
            type: string
            example: Fred
          lastName:
            type: string
            example: Banks
  Contact:
    type: object
    required:
      - email
      - firstName
      - lastName
      - phone
      - userId
    properties:
      userId:
        type: integer
        example: 4
      firstName:
        type: string
        example: John
      lastName:
        type: string
        example: Doe
      phone:
        type: string
        example: (123) 456-7890
      email:
        type: string
        example: john.doe@example.com
